{% extends "layout/base.twig" %}

{% set title = "PEPELAC" %}

{% block page %}
	<section class="bg-light py-4 min-vh-100">
		<div class="container">
			
			</div>
		</div>
	</section>
{% endblock %}
