<header>

			<div class="container header">
				<button class="header-icon e--mob">
					<img
						src="assets/img/mob-menu.svg"
						alt="Mobile menu"
						width="24"
						height="12"
					/>
				</button>

				<img
					class="header-logo"
					src="assets/img/logo.svg"
					alt="Logo"
					width="101"
					height="36"
				/>

				<div class="d-flex">
					<button class="header-icon e--dsk">
						<img src="assets/img/search.svg" alt="Search" width="17" height="17" />
					</button>

					<nav>
						<a href="#" class="header-link active">Home</a>
						<a href="#" class="header-link">Spaces</a>
						<a href="#" class="header-link">Products & Services</a>
						<a href="#" class="header-link">Showrooms</a>
						<a href="#" class="header-link">Company</a>
						<a href="#" class="header-link">Media</a>
						<a href="#" class="header-link">CONTACT</a>
					</nav>

					<div class="header-right-nav">
						<button class="header-icon">
							<img src="assets/img/cart.svg" alt="Cart" width="21" height="20" />
						</button>
						<button class="header-icon e--dsk">
							<img src="assets/img/heart.svg" alt="Search" width="20" height="18" />
						</button>
						<button class="header-icon e--dsk">
							<img src="assets/img/user.svg" alt="Search" width="15" height="18" />
						</button>
					</div>
				</div>
			</div>
		</header>
